*.7zip
*.a
*.bak
*.core
*.coverage
*.css
*.csv
dask-worker-space/
*.dat
*.db
*.dll
*.doc
*.docx
*.docm
*.dylib
*.env
*.exe
*.feather
*.html
htmlcov/
*.js
.mypy_cache/
*.npy
*.o
*.pdf
*.ppt
*.pptx
*.pptm
*.pq
*.pyc
__pycache__/
.pytest_cache/
*.snappy-*.tar.gz
*.so
*.sqlite
*.tar.gz
*.tgz
*.tmp
xcoms/
*.xlsx
*.xlsm
*.zip
